@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

[brave-bird] {
    position: relative;
    border: 1px solid #999;
    border-radius: 3px;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background: url('../images/background.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    box-shadow: 0 0 1em #555;
    overflow: hidden;
}
.bird {
    position: absolute;
    width: 50px;
    height: auto;
    left: calc(50% - 30px);
    bottom: 50%;
}
.barrier-pair {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.barrier {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barrier .border {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #333, #999);
    border: 2px solid #222;
    border-radius: 4px;
}
.barrier .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #333, #999);
    border-left: 2px solid #222;
    border-right: 2px solid #DDD;
}
.progress {
    position: absolute;
    right: 55px;
    top: 10px;
    font-size: 45px;
    font-family: 'Press Start 2P', cursive;
    color: gold;
    z-index: 1;
}